<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="TelerikOnlineFeed" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
			<package pattern="Telerik.Licensing" />
			<package pattern="Telerik.FontIcons" />
			<package pattern="Telerik.SvgIcons" />
		</packageSource>
		<packageSource key="TelerikOnlineFeed">
			<package pattern="Telerik*" />
			<package pattern="Kendo*" />
			<package pattern="UI.for*" />
			<package pattern="JustMock*" />
		</packageSource>
	</packageSourceMapping>
</configuration>